.root {
    padding: calc(var(--unit) * 2);
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 2);
}

.game {
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: center;
}